<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 align="center" style="color: green">{{ message }}</h3>
<form action="/icici_manager_register_details/" method="post">
    {% csrf_token %}
    <h3 align="center">icici Manager Registration</h3>
<table align="center" border="1">
    <tr>
        <td>
            <input type="text" placeholder="manager name" name="name" required>
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" placeholder="username" name="username" required>
        </td>
    </tr>
    <tr>
        <td>
            <input type="password" placeholder="password" name="password" required>
        </td>
    </tr>
     <tr>
        <td>
            <input type="text" placeholder="location" name="location" required>
        </td>
    </tr>
    <tr>
        <td align="center">
            <input type="submit" value="Register">
        </td>
    </tr>
</table>
</form>
</body>
</html>